$headTextColor: #ECF0F1;
$headBackground: #417378;
$headFont: 'Proza Libre', sans-serif;
$contentFont: 'Anaheim', sans-serif;
$skillFont: 'Athiti', sans-serif;
$skillStarColor: #91AA9D;
$thumbnailFont: 'Imprima', sans-serif;
$titlesFont: 'Playfair Display', serif;
$titleColor: #2C3E50;

html {
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: #282E33;
  font-family: $headFont;
}

h1 {
  color: $titleColor;
  font-size: 1.5em;
  text-align: left;
  font-family: $headFont;
  font-weight: lighter;
}

.head {
  font-family: $headFont;
  color: $headTextColor;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .head__title {
    opacity: 0;
    font-size: 1.5em;
    display: flex;
    flex-flow: column;

    .head__name {
      padding-left: 50px;
    }

    .head__last-name {
      padding-right: 0;
    }

    .head__fed {
      font-size: 0.8em;
    }
  }

  .social__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;

    ul {
      padding: 0;
      list-style-type: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    li {
      margin-right: 10px;
      width: 30px;
      display: inline-block;
    }
  }
}

.nav {
  display: flex;
  height: 30px;
  align-items: center;
  flex: 0 0 100%;
  justify-content: center;
  font-family: 'Anaheim', sans-serif;
  color: #E74C3C;
  font-size: 1.2em;

  .flex_nav {
    display: flex;
    flex: 0 0 80%;
    justify-content: space-around;
    padding: 0;
  }

  .nav_btn {
    list-style-type: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  //Nav Btns hover transition
  .nav_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid rgba(189, 73, 50,0.5);
    transition: 250ms all ease-out;
  }

  .nav_btn:hover:before {
    z-index: -2;
    width: 100%;
  }
}
//Nav buttons Animation

.about {
  width: 70%;
  margin: auto;
  min-height: 50vh;
  color: #fff;
  font-family: $skillFont;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;

  .about_text {
    font-size: 1.2em;
    flex: 0 1 500px;
    align-self: center;
  }

  .about_image {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    margin: auto;

    img {
      border-radius: 50%;
      max-width: 200px;
      height: auto;
      padding: 5px;
      border-left: 1px solid orange;
      border-top: 1px solid orange;
    }
  }
}
//*******SKILLS****

.skills {
  box-sizing: border-box;
  background: #ECF0F1;
  padding: 25px;

  .skills_inner {
    display: flex;
    font-family: $thumbnailFont;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .skill_box {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 100px;

    .skill_name {
      font-size: 1.2em;
    }
  }
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
  font-size: 15px;
  color: $skillStarColor;
  transition: 250ms linear;
}

.devicon:hover + .skill_stars i {
  color: #BD4932;
}

.devicon:hover + .skill_name {
  font-size: 1.4em;
}
//cont_bo
//skillsWrapper

.projects {
  padding: 25px;
  height: auto;
  background: #ECF0F1;

  .projects_box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

    .project_details {
      width: 100%;
      margin: 10px;
      font-family: $headFont;
      font-weight: lighter;
      position: relative;
      display: flex;
      background-color: #fff;
      color: rgb(83, 83, 83);
      -webkit-box-shadow: 10px 10px 20px -10px rgba(176,166,176,1);
      -moz-box-shadow: 10px 10px 20px -10px rgba(176,166,176,1);
      box-shadow: 10px 10px 20px -10px rgba(176,166,176,1);
      flex-wrap: wrap;
    }

    hr {
      border: 0;
      height: 1px;
      border-top: 1px solid rgb(64, 64, 64);
    }

    .thumb_img {
      margin: 0;
      padding: 0;
      width: 50%;
      flex: 1 1 300px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .thumb_details {
      padding: 20px;
      text-align: left;
      width: 50%;
      align-self: center;
      flex: 1 1 300px;

      p {
        font-size: 0.8em;
      }

      ul {
        padding: 0;
        margin-bottom: 20px;
        font-size: 0.7em;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 10px;
      }

      .goToSite {
        padding: 10px;
        text-decoration: none;
        color: inherit;
        background-color: rgb(42, 42, 42);
        color: rgb(235, 235, 235);
      }
    }
  }
}
//Animations
//Thumbnails appear when scrolling

.projectOne {
  text-align: left;
  opacity: 0;
  transition: 500ms all ease-in;
}

.projectTwo {
  text-align: right;
  opacity: 0;
  transition: 500ms all ease-in;
}

.projectThree {
  text-align: left;
  opacity: 0;
  transition: 500ms all ease-in;
}

.animate-thumb {
  transform: translateX(-50px);
  animation: thumbnails 500ms linear forwards;
  opacity: 1;
}
@keyframes thumbnails {
  0% {
    transform: translateX(-50px);
  }

  50% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(0px);
  }
}
//Contact

.contact {
  padding: 25px;

  h1 {
    color: #ECF0F1;
  }

  .form {
    flex-flow: column;
    display: flex;
    max-width: 400px;
    margin: auto;

    .form_field {
      margin-bottom: 20px;
    }

    input[type=email],
    input[type=text] {
      border: none;
      width: 100%;
      box-sizing: border-box;
      font-family: $skillFont;
      border-bottom: #E74C3C solid 1px;
    }

    textarea {
      border: #E74C3C solid 1px;
      width: 100%;
      font-family: $skillFont;
    }

    input:focus,
    textarea:focus {
      /* Para dar un pequeño destaque en elementos activos*/
      border-color: #fff;
    }
  }

}

.foot {
  height: 10vh;
  background-color: #E74C3C;
  text-align: center;
}
@media (max-width: 600px) {
  .about {
    width: 90%;
  }
}
